
{% extends "@SonataAdmin/standard_layout.html.twig" %}

{%- block actions -%}{%- endblock -%}

{% block title %}
    {{ profile.title | default('No Connector Title Defined') }}
    {#
        The list template can be used in nested mode,
        so we define the title corresponding to the parent's admin.
    #}
    {% if admin.isChild and admin.parent.subject %}
        {{ "title_edit"|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(15) }, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block list_table %}{% endblock %}

{% block list_filters_actions %}{% endblock %}

{% block list_filters %}

    {% include "@SplashAdmin/Core/logs.html.twig" %}
    
    <div class="col-xs-12">
        
        <div class="row">
            {% for Widget in Widgets %}
                {{ sonata_block_render({ type: "splash.widgets.blocks.simple" }, {
                    'service' : Widget.service,
                    'type' : Widget.type,
                    'options': { 'Mode': "bs3" }

                }) }}
            {% endfor %}
        </div>  
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
