

{#
    Rendering of Splash Image From Fields 
#}
{% block splash_image_row %}
    {% import   "AppExplorerBundle:Macros:fields.html.twig"   as  Fields %}
    <div class="row margin-10" id="{{ form.vars.id }}">
        
        <div class="col-xs-12 text-left">
            {{ form_label(form) }}
        </div>
        
        <div class="col-xs-12">
            {{ Fields.data('image', form.vars.data,  sonata_admin.admin) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
        
        <div class="col-xs-12 text-left">
        </div>
    </div>
{% endblock %}