{#

 *  This file is part of SplashSync Project.
 *
 *  Copyright (C) 2015-2018 Splash Sync  <www.splashsync.com>
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.

#}

{#
    Rendering of Splash Prices From Fields 
#}
{% block price_row %}
    <div class="row margin-10" id="{{ form.vars.id }}">
            <div class="col-xs-3 text-left">
                {{ form_label(form) }}
            </div>

            <div class="col-xs-3 text-center">
                {{ form_row(form.children.ht) }}
            </div>

            <div class="col-xs-3 text-center">
                {{ form_row(form.children.vat) }}
            </div>

            <div class="col-xs-3 text-center">
                {{ form_row(form.children.code) }}
            </div>
    </div>
{% endblock %}