
{% set currentPage = app.request.query.get("page", 1) %}

{% if meta is defined %}
    <div class="text-center">
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li>
                    <a href="{{ admin.generateUrl('list', {"page": (currentPage-1)}) }}" 
                       title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">
                        &lsaquo;&nbsp;{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}
                    </a>
                </li>
            {% endif %}
            {% if meta.total is defined %}
                <li>
                    <a href="#">{{ meta.total }} Objects</a>
                </li>
            {% endif %}
            {% if meta.total is defined and meta.current is defined and (currentPage * meta.current) < meta.total %}
                <li>
                    <a href="{{ admin.generateUrl('list', {"page": (currentPage+1)}) }}"
                       title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">
                        {{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}&nbsp;&rsaquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>    
{% endif %}                            
                 